<h4>splash Component works</h4>
<div class="container">
    <div  class="primary-color">BURST</div>
    <div  class="block primary-color" >
        <div>
            <p class="welcome">Welcome!</p>
            <p class="welcome">Please verify your age to enter</p>
        </div>
        <div>
            <div>
                <div>
                    <button class="thirteen"> I AM 13 & OVER</button>
                </div>
                <div>
                    <button class="under-thirteen">I AM UNDER 13</button>
                </div>
            </div>
        </div>

    </div>
</div>