@import "../../../../styles/burst-responsive";

add-media-mobile-layout {
  display: block;
  width: 100%;
  height: 100%;

  @include burst-responsive-desktop() {
    display: none;
  }
}
add-media-desktop-layout {
  display: block;
  width: 100%;
  height: 100%;

  @include burst-responsive-mobile() {
    display: none;
  }
}
